* {
    background-color: black;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}

textarea {
    width: -webkit-fill-available;
    margin: 20px;
}

#sentence {
    margin: 50px;
}

#submods {
    margin-left: 70px;
}

#generalizationButtons, #distortionButtons, #deletionButtons {
    display: inline-grid;
    margin: 20px;
}

#generalizationDropdown, #distortionDropdown, #deletionDropdown {
    display: inline-grid;
    margin:5px;
}

.answerButton {
    background-color: darkgreen;
    display: block;
    padding: 15px;
}

.dropbtn {
    background-color: darkblue;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: content;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: solid;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdownButton {
    background-color: darkslategray;
    color: lightgoldenrodyellow;
    font-weight: bold;
    padding: 15px;
}

#trainingDropdown {
    display: none;
}

.dropdown a:hover {
    background-color: blue;
}